<?xml version="1.0" encoding="UTF-8"?>
    <configuration>

    <system.web>
        <customErrors mode="On" defaultRedirect="404.html">
        <error statusCode="404" redirect="/404.html" />
        </customErrors>
    </system.web>

    <system.webServer>
        <rewrite>
                <rules>
                <clear />
                <rule name="Redirect to https" stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                </conditions>
                <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
                </rules>
        </rewrite>

        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>

    </system.webServer>
    </configuration>